<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>		
	<!-- BEGIN Ddfault index page -->
	<defaultDocument>
		<files>
			<clear />
			<add value="Default.htm" />
			<add value="Default.asp" />
			<add value="index.php" />
			<add value="index.htm" />
			<add value="index.html" />
			<add value="iisstart.htm" />
			<add value="index.shtm" />
			<add value="index.shtml" />
			<add value="index.aspx" />
			<add value="default.aspx" />
		</files>
	</defaultDocument>
	<!-- END Ddfault index page -->
    <rewrite>
      <rules>
        <!-- BEGIN Http redirection -->
        <!-- <rule name="Http redirection" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="false" />
            <conditions>
                <add input="{HTTP_HOST}" pattern="^localhost$" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="http://localhost/{R:1}" />
        </rule> -->
        <!-- END Http redirection -->
        <!-- BEGIN Forbidimage search -->
        <rule name="Forbidimage1 search" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" negate="false" />
          <conditions>
            <add input="{URL}" pattern="^/outlink" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="\.(fla|doc|pdf|mp3|mp4|webm|ogv|flv|rar|zip|7z|tar.gz|exe|msi|asp|php|jsp|aspx)$" ignoreCase="false" />
            <add input="{HTTP_REFERER}" pattern="^$" ignoreCase="false" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?baidu.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(cache\.)?baiducontent.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?google.com(\.hk)?/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(webcache\.)?googleusercontent.com(\.hk)?/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?360.cn/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?so.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(c\.)?360webcache.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?qq.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?soso.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?sososnap.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?sogou.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?youdao.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?(cn\.)?bing.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(cncc\.)?bingj.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?yahoo.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?208.71.46.190/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?jike.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?zhongsou.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?sina.com.cn/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?sohu.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?feedsky.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?msn.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?feedburner.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?(e\.)?weibo.com/.*$" negate="false" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?t.cn/.*$" negate="false" />
          </conditions>
          <action type="Redirect" url="HttpErrors/404_replace.png" redirectType="Found" />
        </rule>
        <!-- END Forbidimage search -->
        <!-- BEGIN Forbidimage -->
        <rule name="Forbidimage1" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{URL}" pattern="^/outlink" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="\.(doc|ppt|xls|docx|pptx|xlsx|rtf|txt|swf|air|pdf|wps|dps|et|wpt|dot|pps|pptm|potx|pot|ett|xlt|csv|jpg|jpeg|gif|png|bmp|svg|css|js|xml|fla|mp3|mp4|mpg|m4v|rm|rmvb|avi|wmv|wav|mkv|webm|ogv|flv|f4v|torrent|rar|zip|7z|tar.gz|exe|dll|msi|bat|asp|php|jsp|do|aspx|ashx)$" ignoreCase="false" />
            <add input="{HTTP_REFERER}" pattern="^$" ignoreCase="false" negate="true" />
            <add input="{HTTP_REFERER}" pattern="^http://(www\.)?localhost/.*$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="HttpErrors/404_replace.png" />
        </rule>
        <!-- END Forbidimage -->
        <!-- BEGIN ecshop xjdv41 begin -->
        
        <!-- web_category begin -->
        
        <!-- index begin -->
        <rule name="index_c" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="false" />
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
        <!-- index end -->
        <!-- category begin -->
        <rule name="category_c" stopProcessing="true">
          <match url="^category\.html$" ignoreCase="false" />
          <action type="Rewrite" url="category.php?id={R:2}" appendQueryString="true" />
        </rule>
        <!-- category end -->
        <!-- stores begin -->
		<rule name="stores_x" stopProcessing="true">
          <match url="^stores-([0-9]+)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="stores.php\?id={R:1}" appendQueryString="true" />
        </rule>
        <!-- stores end -->
        <!-- pro_search begin -->
        <rule name="pro_search_c" stopProcessing="true">
          <match url="^pro_search\.html$" ignoreCase="false" />
          <action type="Rewrite" url="pro_search.php" appendQueryString="true" />
        </rule>
        <!-- pro_search end -->
        <!-- pre_sale begin -->
        <rule name="pre_sale_c" stopProcessing="true">
          <match url="^pre_sale\.html$" ignoreCase="false" />
          <action type="Rewrite" url="pre_sale.php" appendQueryString="true" />
        </rule>
        <rule name="stores_c" stopProcessing="true">
          <match url="^stores\.html$" ignoreCase="false" />
          <action type="Rewrite" url="stores.php" appendQueryString="true" />
        </rule>
        <!-- pre_sale end -->
        <!-- auction begin -->
        <rule name="auction_c_1" stopProcessing="true">
          <match url="^auction-([0-9]+)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="auction.php?act=view&amp;id={R:1}" appendQueryString="true" />
        </rule>
        <rule name="auction_c" stopProcessing="true">
          <match url="^auction\.html$" ignoreCase="false" />
          <action type="Rewrite" url="auction.php" appendQueryString="true" />
        </rule>
        <!-- auction end -->
		<!-- brand_c begin -->
        <rule name="brand_c_2" stopProcessing="true">
          <match url="brand-([0-9]+)-(.*)-([^-]*)-([^-]*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="brand.php?act=view&amp;id={R:1}&amp;page={R:2}&amp;sort={R:3}&amp;order={R:4}" appendQueryString="true" />
        </rule>
        <rule name="brand_c_1" stopProcessing="true">
          <match url="^brand-([0-9]+)-(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="brand.php?act=view&amp;id={R:1}" appendQueryString="true" />
        </rule>
        <rule name="brand_c" stopProcessing="true">
          <match url="^brand\.html$" ignoreCase="false" />
          <action type="Rewrite" url="brand.php" appendQueryString="true" />
        </rule>
		<!-- brand_c end -->
		<!-- search_c begin -->
        <rule name="search_c" stopProcessing="true">
          <match url="^tag-(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="search.php?keywords={R:1}" appendQueryString="true" />
        </rule>
        <rule name="snatch_c" stopProcessing="true">
          <match url="^snatch-([0-9]+)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="snatch.php?keywords={R:1}" appendQueryString="true" />
        </rule>
        <rule name="group_buy_c" stopProcessing="true">
          <match url="^group_buy-([0-9]+)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="group_buy.php?act=view&amp;id={R:1}" appendQueryString="true" />
        </rule>	
		<!-- search_c end -->
		<!-- exchange begin -->
        <rule name="exchange_3" stopProcessing="true">
          <match url="^exchange-([0-9]+)-min([0-9]+)-max([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="exchange.php?cat_id={R:1}&amp;integral_min={R:2}&amp;integral_max={R:3}&amp;page={R:4}&amp;sort={R:5}&amp;order={R:6}" appendQueryString="true" />
        </rule>
        <rule name="exchange_2" stopProcessing="true">
          <match url="^exchange-([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="exchange.php?cat_id={R:1}&amp;page={R:2}&amp;sort={R:3}&amp;order={R:4}" appendQueryString="true" />
        </rule>
        <rule name="exchange_1" stopProcessing="true">
          <match url="^exchange-id([0-9]+)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="exchange.php?id={R:1}&amp;act=view" appendQueryString="true" />
        </rule>
        <rule name="exchange_c" stopProcessing="true">
          <match url="^exchange\.html$" ignoreCase="false" />
          <action type="Rewrite" url="exchange.php" appendQueryString="true" />
        </rule>
        <!-- exchange end -->

        <!-- package begin -->
        <rule name="package_c" stopProcessing="true">
          <match url="^package\.html$" ignoreCase="false" />
          <action type="Rewrite" url="package.php" appendQueryString="true" />
        </rule>
        <!-- package end -->
        <!-- activity begin -->
        <rule name="activity_c" stopProcessing="true">
          <match url="^activity\.html$" ignoreCase="false" />
          <action type="Rewrite" url="activity.php" appendQueryString="true" />
        </rule>
        <!-- activity end -->
        <!-- article_list begin -->
        <rule name="article_list_c" stopProcessing="true">
          <match url="^article_list\.html$" ignoreCase="false" />
          <action type="Rewrite" url="article_list.php" appendQueryString="true" />
        </rule>
        <!-- article_list end -->
        <!-- help begin -->
        <rule name="help_c" stopProcessing="true">
          <match url="^help\.html$" ignoreCase="false" />
          <action type="Rewrite" url="help.php" appendQueryString="true" />
        </rule>
        <!-- help end -->
        <!-- feed begin -->
        <rule name="feed_c" stopProcessing="true">
          <match url="^feed\.xml$" ignoreCase="false" />
          <action type="Rewrite" url="/feed\.php" appendQueryString="true" />
        </rule>
        <rule name="feed-c_c" stopProcessing="true">
          <match url="^feed-c([0-9]+)\.xml$" ignoreCase="false" />
          <action type="Rewrite" url="/feed\.php\?cat={R:1}" appendQueryString="true" />
        </rule>
        <rule name="feed-b_c" stopProcessing="true">
          <match url="^feed-b([0-9]+)\.xml$" ignoreCase="false" />
          <action type="Rewrite" url="/feed\.php\?brand={R:1}" appendQueryString="true" />
        </rule>
        <rule name="feed-type_c" stopProcessing="true">
          <match url="^feed-type([^-]+)\.xml$" ignoreCase="false" />
          <action type="Rewrite" url="/feed\.php\?type={R:1}" appendQueryString="true" />
        </rule>
        <!-- feed end -->
        <!-- web_category end -->
        
        <!-- web_pages begin -->
        <!-- portal_article begin -->
        <rule name="portal_article" stopProcessing="true">
          <match url="^wenzhang-([0-9a-z]+)/article-([0-9]+)(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="article.php?id={R:2}" appendQueryString="true" />
        </rule>
        <!-- portal_article end -->
        <!-- goods begin -->
        <rule name="goods" stopProcessing="true">
          <match url="^shangpin-([0-9a-z]+)/goods-([0-9]+)(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="goods.php?id={R:2}" appendQueryString="true" />
        </rule>
        <!-- goods end -->
        <!-- pre_sale begin -->
        <rule name="pre_sale" stopProcessing="true">
          <match url="^pre_sale-([0-9]+)(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="pre_sale.php?id={R:1}" appendQueryString="true" />
        </rule>
        <!-- pre_sale end -->
        <!-- category begin -->
        <rule name="category_sort1" stopProcessing="true">
          <match url="^shangpin-cat([0-9a-zA-Z]+)/category-([0-9]+)-b([0-9_]+)-min([0-9]+)-max([0-9]+)-fil([0-2])-attr([^-]*)-([0-9]+)-([^-]*)-([^-]*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="category.php?id={R:2}&amp;brand={R:3}&amp;price_min={R:4}&amp;price_max={R:5}&amp;filter={R:6}&amp;filter_attr={R:7}&amp;page={R:8}&amp;sort={R:9}&amp;order={R:10}" appendQueryString="true" />
        </rule>
		<rule name="category_sort2" stopProcessing="true">
          <match url="^shangpin-cat([0-9a-zA-Z]+)/category-([0-9]+)-b([0-9_]+)-min([0-9]+)-max([0-9]+)-fil([0-2])-attr([^-]*)(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="category.php?id={R:2}&amp;brand={R:3}&amp;price_min={R:4}&amp;price_max={R:5}&amp;filter={R:6}&amp;filter_attr={R:7}" appendQueryString="true" />
        </rule>
        <rule name="category3" stopProcessing="true">
          <match url="^shangpin-([0-9a-z]+)/category-([0-9]+)-b([^-]*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="category.php?id={R:2}" appendQueryString="true" />
        </rule>
        <rule name="category4" stopProcessing="true">
          <match url="^shangpin-([0-9a-z]+)/category-([0-9]+)-b([^-]*)(.*)\.html$" ignoreCase="false" />
          <action type="Rewrite" url="category.php?id={R:2}" appendQueryString="true" />
        </rule>
        <!-- category end -->
        <!-- web_pages end -->
        
        <!-- BEGIN ecshop xjdv41 begin -->
        
      </rules>
    </rewrite>
    <!-- BEGIN httpErrors -->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="HttpErrors\404.shtm" responseMode="File" />
    </httpErrors>
    <!-- END httpErrors -->
    <!-- BEGIN httpRedirect -->
    <httpRedirect enabled="false" destination="" childOnly="false" httpResponseStatus="Found" />
    <!-- END httpRedirect -->
	<!-- BEGIN Gzip optimizer -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
	<!-- END Gzip optimizer -->
	<!-- BEGIN Output buffer -->
	<caching>
      <profiles>
        <add extension="*" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
      </profiles>
	</caching>
	<!-- END Output buffer -->
  </system.webServer>
  <system.web>
    <!-- BEGIN customErrors -->
    <customErrors mode="Off" />
    <!-- END customErrors -->
    <!-- BEGIN requestEncoding -->
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    <!-- END requestEncoding -->
  </system.web>
</configuration>
